.header-container{
    display: flex;
    width: 100%;
    min-height: 110px;
    background-color: rgb(33, 33, 50);
    justify-content: center;
}

.header-content{
    align-items: center;
    width: 70%;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text-box{
    display: flex;
    flex-direction: row;
}

.ht{
    padding-left: 30px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 13px;
}

.hl{
    color: orange;
    padding-right: 5px;
}



    






@media (max-width: 800px) {
    
    .header-content{
        align-items: center;
        width: 70%;
        min-height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .text-box{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .ht{
        padding-top: 20px;
        padding-left: 0;
    }

    

 
}
