.map{
    width:400px; 
    height:350px; 
    border:0;

}



.logo-color{
    color: rgb(255, 119, 0);
}

.description-color{
    color: grey;
}


.kontakt-container{
    display: flex;
    justify-content: center;
}

.content-contianer{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between  ;
    flex-wrap: wrap;
    margin-bottom: 100px;
}


@media (max-width: 1000px) {

    .content-contianer{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 


    .map{
        width:350px; 
        height:350px; 
        border:0;
    
    }
  

}