.lidtomstroem-omos-container {
    width: 100%;
    min-height: 350px;
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.stroem-omos-container {
    display: flex;
    width: 60%;
    align-items: center;
    text-align: center;
    flex-direction: column;

    h2 {
        padding-bottom: 10px;
    }
}



@media (max-width: 800px) {

    

}