

.pagination-next,
.pagination-prev {
    width: 50px;
    background-color: white;
    height: 40px;
    border-radius: 5px;
    border-width: 0;
    border: 1px solid rgb(229, 229, 229);
    cursor: pointer;

}

.pagination-next {
    margin-left: 5px;
}

.pagination-button {
    width: 40px;
    background-color: white;
    margin-left: 5px;
    height: 40px;
    border-radius: 5px;
    border-width: 0;
    border: 1px solid rgb(229, 229, 229);
    cursor: pointer;

}


.pagination-active {
    background-color: rgb(255, 119, 0);
}